In [13]:
import pandas as pd
df = pd.read_csv("spam.csv",encoding = "ISO-8859-1")
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [14]:
df = df.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis = 'columns')
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [16]:
df = df.rename(columns = {'v1':'label','v2':'text'})
df.head()

  label                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [17]:
df['label'].value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [18]:
ham = df[df['label']=='ham']
ham.head()

  label                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...
6   ham  Even my brother is not like to speak with me. ...

In [19]:
spam = df[df['label']=='spam']
spam.head()

   label                                               text
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
5   spam  FreeMsg Hey there darling it's been 3 week's n...
8   spam  WINNER!! As a valued network customer you have...
9   spam  Had your mobile 11 months or more? U R entitle...
11  spam  SIX chances to win CASH! From 100 to 20,000 po...

In [20]:
ham.shape,spam.shape

((4825, 2), (747, 2))

In [21]:
ham = ham.sample(spam.shape[0])
ham.shape,spam.shape

((747, 2), (747, 2))

In [22]:
data = ham.append(spam,ignore_index = True)
data.tail()

     label                                               text
1489  spam  Want explicit SEX in 30 secs? Ring 02073162414...
1490  spam  ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
1491  spam  Had your contract mobile 11 Mnths? Latest Moto...
1492  spam  REMINDER FROM O2: To get 2.50 pounds free call...
1493  spam  This is the 2nd time we have tried 2 contact u...

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score

In [27]:
X_train,X_test,y_train,y_test = train_test_split(data['text'],data['label'],test_size = 0.2,shuffle = True)

In [28]:
X_train.head()

1300    U have a secret admirer who is looking 2 make ...
110                  Yo, you around? Just got my car back
31      I can make it up there, squeezed  &lt;#&gt;  b...
769     Sunshine Quiz Wkly Q! Win a top Sony DVD playe...
1277    Ringtone Club: Gr8 new polys direct to your mo...
Name: text, dtype: object

In [30]:
### Bag of words

vectorizer = TfidfVectorizer()
X_train_vect = vectorizer.fit_transform(X_train)

In [32]:
clf = SVC(C = 1000, kernel = 'linear')
clf.fit(X_train_vect,y_train)

SVC(C=1000, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='linear', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [33]:
X_test_vect = vectorizer.transform(X_test)
y_pred = clf.predict(X_test_vect)

In [34]:
accuracy_score(y_test,y_pred)

0.979933110367893

In [35]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred)

array([[154,   0],
       [  6, 139]])